<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademyVersion1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>learnersacademy.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectsServlet</display-name>
    <servlet-name>AddSubjectsServlet</servlet-name>
    <servlet-class>learnersacademy.controller.AddSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectsServlet</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentsServlet</display-name>
    <servlet-name>AddStudentsServlet</servlet-name>
    <servlet-class>learnersacademy.controller.AddStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentsServlet</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassServlet</display-name>
    <servlet-name>AddClassServlet</servlet-name>
    <servlet-class>learnersacademy.controller.AddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassServlet</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>learnersacademy.controller.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTeacherClassServlet</display-name>
    <servlet-name>AssignTeacherClassServlet</servlet-name>
    <servlet-class>learnersacademy.controller.AssignTeacherClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeacherClassServlet</servlet-name>
    <url-pattern>/AssignTeacherClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTeacherSubjectServlet</display-name>
    <servlet-name>AssignTeacherSubjectServlet</servlet-name>
    <servlet-class>learnersacademy.controller.AssignTeacherSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeacherSubjectServlet</servlet-name>
    <url-pattern>/AssignTeacherSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsListServlet</display-name>
    <servlet-name>StudentsListServlet</servlet-name>
    <servlet-class>learnersacademy.controller.StudentsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsListServlet</servlet-name>
    <url-pattern>/StudentsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsListServlet</display-name>
    <servlet-name>SubjectsListServlet</servlet-name>
    <servlet-class>learnersacademy.controller.SubjectsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsListServlet</servlet-name>
    <url-pattern>/SubjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesListServlet</display-name>
    <servlet-name>ClassesListServlet</servlet-name>
    <servlet-class>learnersacademy.controller.ClassesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesListServlet</servlet-name>
    <url-pattern>/ClassesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherListServlet</display-name>
    <servlet-name>TeacherListServlet</servlet-name>
    <servlet-class>learnersacademy.controller.TeacherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherListServlet</servlet-name>
    <url-pattern>/TeacherList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterReportServlet</display-name>
    <servlet-name>MasterReportServlet</servlet-name>
    <servlet-class>learnersacademy.controller.MasterReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterReportServlet</servlet-name>
    <url-pattern>/MasterReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterRptServlet</display-name>
    <servlet-name>MasterRptServlet</servlet-name>
    <servlet-class>learnersacademy.controller.MasterReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterRptServlet</servlet-name>
    <url-pattern>/MasterReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>learnersacademy.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>